<launch>
  <group ns="stereo">
    <node name="right" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video0" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="right" />
      <param name="io_method" value="mmap"/>
      <param name="camera_name" value="right" />
      <param name="camera_info_url" value="file:///home/robotvision/param/second/right.yaml" />
    </node>
    <node name="left" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video2" />
      <param name="camera_frame_id" value="left" />
      <param name="io_method" value="mmap" />
      <param name="camera_name" value="left" />
      <param name="camera_info_url" value="file:///home/robotvision/param/second/left.yaml" />
    </node>
    <node pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" name="proc" output="screen" args="_approximate_sync:=True" />  
  </group>
</launch>
