<launch>
  <group ns="right">
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="720" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
    </node>
  </group>
  <group ns="left">
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video2" />
      <param name="image_width" value="720" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
    </node>
  </group>
  <node name="stereo_cali" pkg="camera_calibration" type="cameracalibrator.py" respawn="false" output="screen" args="--approximate=0.01" >
    <remap from="right" to="/right/usb_cam/image_raw"/>
    <remap from="right_camera" to="/right/usb_cam"/>
    <remap from="left" to="/left/usb_cam/image_raw"/>
    <remap from="left_camera" to="/left/usb_cam"/>
    <param name="size" value="8x6" />
    <param name="square" value="0.024" />
  </node>

</launch>
